
<article class="content-card">
    <h1 class="article-title">two-way data binding</h1>

    <div>
        <div class="alert" *ngIf="added">
            <P>{{ msg }} {{name}}!</P>
        </div>

        <div style="padding: 10px;">
            <label>Nome</label>
            <input type="text" placeholder="Enter a name" (focus)="onFocus()" [(ngModel)]="name">                        

            <button class="btn" (click)="add()" [disabled]="name.length == 0">Add</button>
            <br>
            {{name}}
        </div>

    </div>


</article>